@model ListingEditViewModel
@{
    ViewData["Title"] = "Edit Listing";
}

<h1>Edit: @Model.Title</h1>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            @* Hidden field to ensure we know which listing we are updating *@
            <input type="hidden" asp-for="ListingId" />

            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="GpuModel"></label>
                    <input asp-for="GpuModel" class="form-control" />
                    <span asp-validation-for="GpuModel" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CpuModel"></label>
                    <input asp-for="CpuModel" class="form-control" />
                    <span asp-validation-for="CpuModel" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="VramInGB"></label>
                    <input asp-for="VramInGB" type="number" class="form-control" />
                    <span asp-validation-for="VramInGB" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="RamInGB"></label>
                    <input asp-for="RamInGB" type="number" class="form-control" />
                    <span asp-validation-for="RamInGB" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="DiskInGB"></label>
                    <input asp-for="DiskInGB" type="number" class="form-control" />
                    <span asp-validation-for="DiskInGB" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="OperatingSystem"></label>
                <input asp-for="OperatingSystem" class="form-control" />
                <span asp-validation-for="OperatingSystem" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PricePerHourInCents"></label>
                <input asp-for="PricePerHourInCents" type="number" class="form-control" />
                <span asp-validation-for="PricePerHourInCents" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image">Upload New Image (to replace existing)</label>
                <div class="custom-file">
                    <input asp-for="Image" class="custom-file-input"> @* REMOVE multiple *@
                    <label class="custom-file-label">Choose new image...</label>
                </div>
            </div>

            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h4>Current Image</h4>
        <hr />
        @if (!string.IsNullOrEmpty(Model.ExistingImagePath))
        {
            <img src="~/images/listings/@Model.ExistingImagePath" class="img-fluid rounded" alt="Current Image" />
        }
        else
        {
            <p>No image has been uploaded.</p>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Script to display selected file names in the file input
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                } else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });
        });
    </script>
}